html, body {
	background-image: url('bg3.jpg');
	background-position:center;
	background-size: 100%;
	height:100%;
}
.container {
	background-color: white;
	height: auto;
}
.prod-files, 
.prod-img, 
.prod-other, 
.prod-page,
.prod-land{
	margin-left: 20px;
}
.headertext{
	margin-top: 20px;
	font-family: 'Oswald';
	font-size: 40px;	
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
	color:#ddd;
}
.tab-pane{
	height: auto;
	margin: 0 auto;
	margin-top: 30px;
}
#new {
	margin-top: 50px;
	text-align:center;
}
span{
	display: inline-block;
	margin-top: 5px;
}
.glyphicon{
	display: inline;
	margin: 0;
}
.exit {
	color: #CB2528;
	font-size: 26px;	
}
.exit:hover {
	color: #8A0002;
}
a { 
	text-decoration: none !important;
	cursor: pointer;
}
li.closetab {
	float:right;
	list-style: none;
	margin-right: 20px;
}
.checkbox{
	display: inline-block;
	float: left;
	cursor: pointer;
	margin-top: 2px;
	margin-right: 10px;
}
#newProductName{
	height: 33px;
	width: 250px;
}
p.newProdNameText {
	font-size: 20px;
	font-family: 'Karla', sans-serif;
	font-weight: 700;
}
.btn {
	width:250px;
	background-color: #2391D7;	
	color: white;
	font-weight:600;
	margin-top: 10px;
}
.btn:hover {
	background-color:#1E9624;
	color: white;
}
#header-progress {
	color: #1A8B3F;
	text-align: center;
	margin-right: 70px;
	margin-top: 50px;
}
.prod-header {
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: #65A1D1;
}
span.checkbox-text {
	white-space: nowrap;
	margin-top: -0px;
	margin-left: 7px;
}
div.progress {
	margin-top: 50px;
	margin-bottom: 50px;

}
label {
	font-weight: 100;
	margin-left: 18px;
	display:block;
	font-family: 'Arimo', sans-serif;
	color:#464646;
	font-size: 14px;
}
label input[type='checkbox']{
	margin-left: -18px;
}
.checkbox:checked + label {
	color: green;
}
